<div class="col-xs-4 item-holder file image" data-file-id="{{id}}" data-file-ext="{{ext}}">
    <div class="image-holder" style="background-image: url('{{thumbnail}}');">
        <div class="image-overlay">
            <i class="fa" aria-hidden="true"></i>
        </div>
        <div class="image-info">
            <p>
                <strong>{{name}} {{fullname}}</strong>
            </p>
        </div>
    </div>
    <div class="image-title">
        <p>
            <strong>{{name}} {{fullname}}</strong>
        </p>
    </div>
</div>