<div class="col-xs-4 item-holder file image video" data-file-id="{{id}}" data-file-ext="{{ext}}">
    <div class="image-holder">
        <div class="image-overlay" style="opacity: 1">
            <i class="fa fa-video-camera" aria-hidden="true"></i>
        </div>
        <div class="image-info">
            <p>
                <strong>{{name}} {{fullname}}</strong>
            </p>
        </div>
    </div>
    <div class="image-title">
        <p>
            <strong>{{name}} {{fullname}}</strong>
        </p>
    </div>
</div>